<!-- Content -->
<div class="content clearfix">
   <div class="container">
      {% include navtop.html %}
      <header>
         <h2 class="title">Photos</h2>
         <div class="actions">
            <a href="#" class="action-btn"><i class="material-icons">file_upload</i></a>
            <a href="#" class="action-btn"><i class="material-icons">create_new_folder</i></a>
            <a href="#" class="action-btn"><i class="material-icons">folder_shared</i></a>
            <a href="#" class="action-btn"><i class="material-icons">delete</i></a>
         </div>
         <div class="filter-toggle">
            <a href="#" class="active">Name</a>
            <a href="#">Size</a>
            <a href="#">Modified</a>
         </div>
      </header>
   </div>
</div>
