<div class="navtop">
   <div class="input-group">
      <i class="material-icons">search</i>
      <input type="search" placeholder="Search">
   </div>
   <ul class="menu">
      <li>
         <a href="#"><i class="material-icons">notifications</i></a>
      </li>
      <li>
         <a href="#" class="dropdown"><span class="profile-name">John Doe</span><i class="material-icons">arrow_drop_down</i></a>
         <ul class="dropdown-menu">
            <li><a href="#">My Account</a></li>
            <li><a href="#">Sign Out</a></li>
         </ul>
      </li>
   </ul>
</div>
