<!-- Sidebar -->
<div class="sidebar clearfix">
   <div class="logo"><a href="#"><i class="material-icons">cloud_circle</i></a></div>
   <nav>
      <a href="#" class="link"><i class="material-icons">access_time</i>Recent<span class="badge">3</span></a>
      <a href="#" class="link"><i class="material-icons">insert_drive_file</i>Files</a>
      <a href="#" class="link"><i class="material-icons">photo</i>Photos</a>
      <a href="#" class="link"><i class="material-icons">group</i>Sharing</a>
      <a href="#" class="link"><i class="material-icons">link</i>Links</a>
      <br>
      <a href="#" class="link"><i class="material-icons">delete</i>Deleted Files</a>
   </nav>

   <div class="storage-info">
      <p>50 GB / 100 GB <span class="badge">+</span></p>
      <div class="bar"><span></span></div>
   </div>

   <a href="#" class="button button-upload"><i class="material-icons">arrow_upward</i> Upgrade Account</a>
</div>
